{% extends 'survey/base.html' %}

{% load bootstrap4 %}

{% load static %}

{% block bootstrap4_extra_head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "survey/css/survey-index.css" %}" />

    <script type="text/javascript" src="{% static "survey/js/survey-index.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="d-flex flex-row align-items-center px-3">
        <div class="p-2 flex-grow-1 text-justify">
            <h5>{{ _('Welcome to the all new CASES self-assessment tool: Fit4Privacy') }}.</h5>
            {{ _('Assuming your company is processing personal data and has its establishment in the EU/or is offering goods or services to individuals in the Union, or is monitoring their behavior that is taking place within the Union, please answer the following questions (See <a href="https://www.privacy-regulation.eu/en/article-3-territorial-scope-GDPR.htm" target="_blank">GDPR Article 3</a>). These answers will be useful to provide you with more specific recommendations, once the self-assessment form has been filed.') | safe }}
        </div>
    </div>

    <div class="row align-items-center px-3">
        <div class="col">
            <a href="/survey/start/en" class="text-primary">
                <div class="px-2 py-4 text-center align-content-center min-width">
                    <img src="{% static "images/flags/en.png" %}" alt="EN"><br>
                    Start
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/survey/start/fr" class="text-primary">
                <div class="px-2 py-4 text-center align-content-center min-width">
                    <img src="{% static "images/flags/fr.png" %}" alt="FR"><br>
                    Démarrer
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/survey/start/de" class="text-primary">
                <div class="px-2 py-4 text-center align-content-center min-width">
                    <img src="{% static "images/flags/de.png" %}" alt="DE"><br>
                    Starten
                </div>
            </a>
        </div>
    </div>

    <div class="row py-3">
        <div class="col">
            <button class="btn btn-link" type="button" name="resume-show-popup" data-toggle="modal" data-target="#modal" data-tooltip>{{ _('Continue a previous survey') }}</button>
        </div>
    </div>

    {% include 'survey/resume.html' %}
{% endblock %}
